.jumbotron {
	background-color: cadetblue;
	color: white;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: cadetblue;
	margin-bottom: 0px;
	margin-top: 15px;
}

.card-curso {
	flex-direction: column;
	justify-content: space-between;
	flex: 1 200px;
	padding: 2px 7px 2px 7px;
	margin-top: 10px;
}

.btn-inscripcion {
	width: 100%;
	background-color: darkcyan;
	color: white;
}

.social {
	color: white;
}

.footer-address-icon {
	padding-right: 10px;
	color: black;
}

.button-inscripcion-icon {
	padding-right: 7px;
}

.text-center {
	text-align: center;
}

.text-vertical-center {
	vertical-align: middle;
}

.carousel-caption {
	background-color: cadetblue;
    width:100%;
    left:0 !important;
   	bottom: 0;
}
