.jumbotron {
  color: #ffffff;
  background-color: #5f9ea0;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0px 10px;
  color: #000000;
  background-color: #5f9ea0;
  margin-top: 15px;
  margin-bottom: 0px; }

.card-curso {
  flex-direction: column;
  justify-content: space-between;
  flex: 1 200px;
  padding: 2px 7px 2px 7px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-inscripcion {
  width: 100%;
  color: #ffffff;
  background-color: #5f9ea0; }

.social {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0); }

.footer-address-icon {
  padding: 0px 10px 0px 0px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0); }

.button-inscripcion-icon {
  padding: 0px 7px 0px 0px; }

.text-center {
  text-align: center; }

.text-vertical-center {
  vertical-align: middle; }

.carousel-caption {
  color: #000000;
  background-color: #5f9ea0;
  width: 100%;
  left: 0 !important;
  bottom: 0; }

/*# sourceMappingURL=styles.css.map */
