$verde: #2daf44;
$rojo: #df1717;
$amatillo: #ecff00;
$cadet: #5f9ea0;
$blanco: #ffffff;
$negro: #000000;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin cuadros($top,$right,$bottom,$left){
  padding: $top $right $bottom $left;
}

@mixin colores($color,$background:rgba(#ffffff, 0)){
  color: $color;
  background-color: $background;
}

.jumbotron {
  @include colores($blanco,$cadet);
  @include margenes(50px, 20px);
}

footer {
  @include cuadros(10px,10px,0px,10px);
  @include colores($negro,$cadet);
  @include margenes(15px, 0px);
}

.card-curso {
	flex-direction: column;
	justify-content: space-between;
	flex: 1 200px;
  @include cuadros(2px,7px,2px,7px);
  @include margenes(10px, 0px);
}

.btn-inscripcion {
	width: 100%;
  @include colores($blanco,$cadet);
}

.social {
  @include colores($blanco);
}

.footer-address-icon {
  @include cuadros(0px,10px,0px,0px);
  @include colores($negro);
}

.button-inscripcion-icon {
  @include cuadros(0px,7px,0px,0px);
}

.text-center {
	text-align: center;
}

.text-vertical-center {
	vertical-align: middle;
}

.carousel-caption {
  @include colores($negro,$cadet);
  width:100%;
  left:0 !important;
  bottom: 0;
}
